body {
  background-color: whitesmoke;
}

.container {
  background-color: white;
  box-shadow: 0 0 5px black;
  padding-bottom: 0px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.494);
  border-radius: 20px;
}

#carouselCaptionid {
  margin: 0 auto;
  max-width: 900px !important;
  max-height: auto !important;
}

.body-card {
  border: 3px solid #aa66cc;
}

hr {
  width: 100%;
  border: 2px solid #aa66cc;
}

.recent-news {
  text-align: justify;
}

.recent-news h5 {
  text-align: center;
}

.body-card {
  max-width: 1140px;
}
