.body-card {
  max-width: 1140px;
}

.body-cardEncapsula {
  max-width: 1140px;
  background-color: rgba(255, 255, 255, 0.623);
}


.img
{
  width: 50px;
  height: 50px;
}

.far
{
  color:  #aa66cc;
}